<div class="btn-group-vertical note-btn-group" dropdown is-open="isopen">
    <button type="button" class="btn btn-default note-btn" title="{{ 'flag' | lang:'ui' }}" ng-class="{'active': isopen}" ng-click="addFlag()" ng-disabled="minder.queryCommandState('note') === -1"></button>
    <button type="button" class="btn btn-default note-btn-caption dropdown-toggle" ng-disabled="minder.queryCommandState('note') === -1" title="{{ 'flag' | lang:'ui' }}" dropdown-toggle>
        <span class="caption">{{ 'flag' | lang:'ui' }}</span>
        <span class="caret"></span>
        <span class="sr-only">{{ 'flag' | lang:'ui' }}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href ng-click="addFlag()">{{ 'insertflag' | lang:'ui' }}</a>
        </li>
        <li>
            <a href ng-click="minder.execCommand('flag', null)">{{ 'removeflag' | lang:'ui' }}</a>
        </li>
    </ul>
</div>